$primary: #1893ff;
$white: #fff5db;
$red: #ff380b;
$succsess: #51ff00;
$honeyYellow: #ffee00;

@mixin bodyCommon {
  align-items: center;
}
@mixin buttonCommon {
  border-radius: 8px;
  height: 40px;
  width: 60px;
  cursor: pointer;
}
.body {
  @include bodyCommon;
}

button#start {
  @include buttonCommon;
  background-color: $primary;
  color: $white;
  &:hover {
    border: 2px solid $red;
    transition: 10s;
  }
}
button#stop {
  @include buttonCommon;
  background-color: $red;
  color: $white;
  &:hover {
    border: 2px solid $primary;
    transition: 10s;
  }
}

button#reset {
  @include buttonCommon;
  background-color: $succsess;
  color: $white;
  &:hover {
    border: 2px solid $honeyYellow;
    transition: 10s;
  }
}
